mat-card {
  width: 75%;
  justify-content: center;
  margin: 10% 12.5% 0 12.5%;
}

form {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 0 12.5% 0 12.5%;
}

h1,
h2 {
  text-align: center;
}

h1 {
  margin: 50px 0 -60px 0;
}

.radio-group {
  text-align: center;
}

label {
  margin: 0 10px 0;
}

mat-radio-button {
  margin: 0 10px 10px 10px;
}

.buttons{
    text-align: right;
}
